.header {
    background: #ffffff;
    padding: 25px 0;
}
.container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.row {
    margin-right: -15px;
    margin-left: -15px;
}
.header h1 {
    margin-bottom: 0;
    margin: 0;
}
.header h1 a {
    cursor: pointer;
}
.img-responsive{
    display: block;
    max-width: 100%;
    height: auto;
    max-height: 65px;
}
@media (min-width: 1200px){
.container {
    width: 1170px;
}
}
.ant-row{
    display: flex;
    justify-content: space-between;
}
.cart-info {
    display: inline-block;
    position: relative;
}
.cart-info {
    cursor: pointer;
    float: right;
    width: 65px;
    height: 65px;
    padding: 4px;
    margin-left: 25px;
    transition: all 0.2s ease-in-out;
    border: 1px solid #ebebeb;
}
.cart-info:hover{
    border-color: #28b241;
}
.cart-link {
    width: 55px;
    height: 55px;
    display: block;
    background: #fff url(http://hstatic.net/349/1000150349/1000203344/cart-icon.png?v=28)center center;
    background-size: 55px 55px;
}
.cart-number {
    width: 24px;
    height: 24px;
    line-height: 24px;
    display: block;
    position: absolute;
    background: #28b241;
    color: #ffffff;
    top: 11px;
    right: -9px;
    text-align: center;
    font-size: 12px;
}
.navholder {
    float: right;
}
.subnav {
    border-bottom: 1px dotted #333333;
    padding-bottom: 10px;
    float: left;
    font-size: 0;
}
.subnav >ul {
    list-style: none;
    text-align: right;
    margin-bottom: 0;
    padding: 0;
}
.subnav >ul>li {
    display: inline-block;
    position: relative;
    padding: 0 14px;
}
.subnav > ul > li:first-child {

    padding-left: 0;
}
.subnav > ul > li > a {
    color: #333333;
    font-size: 12px;
    text-transform: uppercase;
    cursor: pointer;
}
.subnav > ul > li:after {
    border-left: 1px solid #333333;
    content: '';
    display: block;
    position: absolute;
    width: 1px;
    top: 5px;
    left: 0;
    height: 8px;
}
.subnav > ul > li:last-child {
    padding-right: 0;
}
.header_line {
    color: #333333;
    font-size: 12px;
    padding-top: 7px;
    clear: left;
    text-align: right;
}
.header_line p {
    margin: 0;
}
.header_line span {
    color: #28b241;
}
.mar-l5 {
    margin-left: 5px;
}
.subnav > ul > li > a:hover{
    color: #28b241;
}

.navbar-default.navbar-main {
    position: relative;
    min-height: 50px;
    margin-bottom: 0px;
    border: 1px solid #ebebeb;
    background-color: #ffffff;
    border-radius: 0;
    border-left: none;
    border-right: none;
}
.navbar-collapse {
    padding-right: 15px;

}
.navbar-main .navbar-nav {
    margin-top: 0px;
    margin-bottom: 0px;
}
.navbar-main .navbar-nav>li:first-child a {
    padding-left: 0;
}
.navbar-main .navbar-nav>li>a {

    line-height: 20px;
    position: relative;
    display: block;
    text-transform: uppercase;
    white-space: nowrap;
    font-size: 14px;
    text-decoration: none;
    padding: 15px 15px;
}
.navbar-main .navbar-nav>li {
    display: inline-block;
}
.navbar-main .navbar-nav {
   padding: 0;
}
.navbar-main .navbar-nav>li>a:hover {
    color: #28b241;
}
.navbar-nav .sub-arrow {
    position: static;
    margin-top: 0;
    margin-right: 0;
    margin-left: 6px;
    display: inline-block;
    width: 0;
    height: 0;
    overflow: hidden;
    vertical-align: middle;
    border-top: 4px solid;
    border-right: 4px dashed transparent;
    border-bottom: 4px dashed transparent;
    border-left: 4px dashed transparent;
}
.col-md-12 {
    width: 100%;
}
.search-bar {
    margin-top: 5px;
    display: inline-block;
}
.search-bar form {
    position: relative;
    border: 0;
}
.search-bar form .anticon-search{
    display: block;
    font-size: 18px;
    content: "\f002";
    position: absolute;
    top: 11px;
    right: 15px;
    font-weight: 400;
    font-family: 'FontAwesome';
    z-index: 99;
    color: #757575;
}
.search-bar div form input {
    margin-bottom: 0;
}
.search-bar form input {
    border: 1px solid #ebebeb;
    height: 37px;
    color: #737373;
    font-size: 12px;
    background: #ebebeb;
    outline: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -moz-appearance: none;
    -webkit-appearance: none;
    min-width: 244px;
    padding: 12px;
}
.search-bar div form input:focus {
    background: #fff;
    border-color: #222;
    color: #222;
}
.nav > li{
    position: relative;
}
.dropdown-menu{
    background: #ffffff;
    padding: 13px 15px;
    border-top: 4px solid #28b241;
    top: 100%;
    left: -20px;
    min-width: 200px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 18%);
    text-align: left;
    position: absolute;
    top: auto;
    left: 0px;
    margin-top: 0px;
    margin-left: 0px;
    width: auto;
    display: none;
    max-width: 20em;
   
}
.nav  li{
    border-radius: 0px;
}
 .dropdown-menu li a {
    margin: 0px!important;
    padding: 6px 15px 6px 10px;
    white-space: normal!important;
    font-size: 16px;
    line-height: 35px;
    color: #4d4d4d;
    cursor: pointer;
}
.dropdown-menu li a:hover{
    color: #28b241;
}
.dropdown-menu li  {
   display: block;
}
.dropdown-menu li a .sub-arrow{
    position: absolute;
    right: 0;
    margin-top: 6px;
    margin-right: 15px;
    border-top: 4px dashed transparent;
    border-bottom: 4px dashed transparent;
    border-left: 4px solid;
    margin: 12px 10px;
}
 .navbar-nav .dropdown:hover .dropdown-menu{
    display: block;
    z-index: 1000;
    left: 0px;
    top: auto;
    margin-top: 0px;
    margin-left: 0px;
    width: auto;
    max-width: 20em;
}
.dropdown-menus {
    background: #ffffff;
    padding: 13px 15px;
    border-top: 4px solid #28b241;
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.18);
    -webkit-box-shadow: 0 1px 2px rgb(0 0 0 / 18%);
    box-shadow: 0 1px 2px rgb(0 0 0 / 18%);
    text-align: left;
    position: absolute;
    top: 100%;
    left: -20px;
    min-width: 200px;
    max-width: 20em;
    top: auto;
    left: 0px;
    margin-top: -40px;
    margin-left: 193px;
    width: auto;
    display: none;
}
.dropdown-menus li {
    display: block;
}

.dropdown-menus li a{
    margin: 0px!important;
    padding: 6px 15px 6px 10px;
    white-space: normal!important;
    font-size: 16px;
    line-height: 35px;
    color: #4d4d4d;
    cursor: pointer;
    text-decoration: none;
}
.dropdown-menu li:hover .dropdown-menus{
    display: block;
    z-index: 1000;
    max-width: 20em;
    top: auto;
    left: 0px;
    width: auto;

}